:root {
   --bg: #A79277;
   --primary: #D1BB9E;
   --info: #EAD8C0;
   --warning: #FFF2E1;
   --text: #fff;
}

* {
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   text-decoration: none;
}

html{
   scroll-behavior: smooth;
}

body {
   font-family: 'Montserrat', sans-serif !important;
   background-color: var(--bg);
   color: var(--text);
   height: 2000px;
}

/* Navbar */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.4rem 7%;
   background-color: var(--primary);
   border-bottom: 2px solid rgba(1, 1, 1, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

.navbar .navbar-logo {
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--bg);
   font-style: italic;
   text-shadow: 1px 1px 4px #f1eded;
}

.navbar .navbar-nav a {
   color: #100303;
   display: inline-block;
   margin: 0 1.2rem;
   font-size: 1.2rem;
   font-weight: 600;

}

.navbar .navbar-nav a:hover {
   color: var(--text);
}

.navbar .navbar-nav a::after {
   content: '';
   border-bottom: 0.1rem solid #100303;
   display: block;
   padding-bottom: 0.5rem;
   transform: scaleX(0);
   transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
   transform: scaleX(0.5);
}

.navbar .navbar-extra a {
   color: #100303;
   margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
   color: var(--text);
}

#hamburger-menu {
   display: none;
}

/* hero section */
.hero {
   min-height: 100vh;
   display: flex;
   align-items: center;
   /* background-color: red; */
   background-image: url(../img/bg2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
}

.hero::after {
   content: '';
   display: block;
   width: 100%;
   height: 30%;
   background-color: red;
   position: absolute;
   bottom: 0;
   background: linear-gradient(0deg, rgb(167, 146, 119) 13%, rgba(255, 255, 255, 0) 80%);
}


.hero .content {
   padding: 1.4rem 7%;
   max-width: 60rem;
}

.hero .content h1 {
   font-size: 5rem;
   /* color: #100303; */
   text-shadow: 2px 2px 5px rgba(1, 1, 1, 0.4);
   line-height: 1.1;
}

.hero .content h1 span {
   color: #ffffff;
   /* mix-blend-mode: difference; */
}

.hero .content p {
   font-size: 1.5rem;
   margin-top: 1rem;
   line-height: 1.5;
   text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
   background-color: var(--bg);
   padding: 1rem 3rem;
   margin-top: 1rem;
   display: inline-block;
   border-radius: 0.5rem;
   font-size: 1.4rem;
   color: var(--warning);
   box-shadow: 1px 1px 3px rgba(1, 1, 2, 0.7);
}

/* About */
.about {
   padding: 0.2rem 7% 1.4rem;
}

.about h2{
   text-align: center;
   font-size: 2.6rem;
   margin-bottom: 3rem;
}
.about h2 span{
   color: var(--primary);
}
.about .row{
   display: flex;
}
.about .row .about-img{
   flex: 1 1 35rem;
}
.about .row .about-img img{
   width: 100%;
   /* background-color: red; */
}

.about .row .content {
   flex:  1 1 35rem;
   /* background-color: red; */
   padding: 0 1rem;

} 

.about .content h3{
   font-size: 1.8rem;
   margin-bottom: 1rem;

}

.about .row .content p{
   font-size: 1.4rem;
   font-weight: 100;
   line-height: 1.5;
   margin-bottom: 1.8rem;
}


/* Media Queries */
/* Laptop */
@media (max-width:1366px) {
   html {
      font-size: 75%;
   }

}

/* Tablet */
@media(max-width:768px) {
   html {
      font-size: 62.5%;
   }

   #hamburger-menu {
      display: inline-block;
   }

   .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      background-color: var(--text);
      height: 100vh;
      width: 30rem;
      right: -100%;
      transition: 0.4s;
      transition-timing-function: ease-in;
   }

   .navbar .navbar-nav a {
      display: block;
      color: var(--bg);
      margin: 1rem;
      padding: 0.5rem;
      font-size: 1.3rem;
   }

   .navbar .navbar-nav.active {
      right: 0;
   }

   .navbar .navbar-nav a:hover {
      color: #100303;
   }

   .navbar .navbar-nav a::after {
      transform-origin: 0 0;
   }

   .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
   }

   .about .row{
      flex-wrap: wrap;
   }

   .about .row .about-img img{
      height: 24rem;
      object-fit: cover;
      object-position: center;
   }

   .about .row .content{
      padding: 0;
   } 

   .about .row .content h3{
      margin-top: 1rem;
      font-size: 2rem;
   }

   .about .row .content p{
      font-size: 1.3rem;
   }
}

@media(max-width:450px) {
   html {
      font-size: 55%;
   }

}